*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
    font-family:'monserrat',sans-serif;
}
nav{
    background-color:#1f1f1f;
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:4rem;
    width:100vw;
    
}
.left-half{
    display:flex;
    align-items:center;
    color:white;
    justify-content: center;
}
.logo{
    font-size:2.5rem;
    margin:1rem;
}
.home-icon{
    font-size:1.7rem;
    background-color:#1f1f1f;
    color:rgb(179,179,179);
    padding:8px;
    border-radius:50%;
    margin: 0 1rem;
    transition:0.2s;
}
.home-icon:hover{
    color:white;
    transform:scale(1.05);

}
.search-bar{
    display:flex;
    background:#1f1f1f;
    height:3rem;
    width:30rem;
    border-radius:20rem;
    align-items:center;
}
.search-bar:hover{
    background-color:#272727;
    border:1px solid rgb(76,76,76);   
}
.search-icon{
    font-size:1.5rem;
    color:rgb(179,179,179);
    padding:0rem,0.7rem;
    margin-left: 0.5rem;
}
.search-bar:hover .search-icon{
    color: white;
}
.input-box{
    width:78%;
    height:60%;
    background-color: #1f1f1f00;
    border:none;
    color:white;
    font-size:1.2rem;
    border-right:1px solid rgb(179,179,179);
    margin-left:0.5rem;
    
}
.browse{
    font-size:1.3rem;
    margin-left:0.6rem;
}
.browse:hover{
    transform:scale(1.05);
}
.right-half{
    display:flex; 
    align-items:center;
    /* justify-content:space-between; */
    color:white;
    width:43.8%;


}
.right-half-p1{
    display:flex;
    align-items:center;
    height:1.7rem;
    margin:0 1rem;
    padding:0 1rem;
    border-right:1px solid rgb(179,179,179);
}
.nav-text{
    padding:(0 0.5rem);
    font-weight:600;
    color:rgb(179,179,179);
    transition: 0.1s;
    margin-right: 0.5rem;
}
.nav-text:hover{ 
    color:white;
    transform:scale(1.05);
    cursor:pointer; 
}
.right-half-p2{
    display:flex;
    align-items:center;
}
#in{
    margin-left:1rem;
}
#sign{
    margin-left:1em; 
 } 
.right-half-p2 .nav-text i{
    margin-right:0.3rem;

}
.login-btn{
    height:2.6rem;
    width:7.5rem;
    border-radius:15rem;
    border:none;
    background-color:white;
    font-size:1.3rem;
    font-weight:700;
    margin:1rem;
    transition:1s;
    color: black;
    display:flex;
    text-align:center; 
    justify-content:center;
    padding-top:0.7rem;
}
.login-btn:hover{
    transform:scale(1.05);
}
.main{
    background-color:black;
    height:80vh;
    width:99vw;
    margin:0.5rem;
    display:flex;
    justify-content: space-between;
    
}
.main-left{
    background-color:#1f1f1f;
    width:25%;
    height:100%;
    color:white;
    background-color:#121212;
    border-radius:15px;
}

.library{
    
    display:flex;
    justify-content: space-between;
    font-size:1.1rem;
    font-weight: 600;
    margin:1rem 0.5rem;   
}
.main-left .library p{
    margin-left:0.7rem;
}
.main-left .library i{
    margin-right:1rem;
}
.b1{
    background-color:#1f1f1f;
    height: 115px;;
    line-height:2rem;
    margin:3rem 1rem;
    border-radius:10px;
}
.b1 h4,
.b1 p,
.b1 button {
    margin-left:1rem;
  /* adjust as needed */
}
.b1 button{
    width:45%;
    height: 35px;;
    color:black;
    font-size:1rem;
    font-weight: 700;
    border-radius:15rem;
}
.b1 p{
    font-weight: 400;
    /* margin-bottom:0.5rem; */

    
}
.b2{
    background-color:#1f1f1f;
    height: 115px;;
    line-height:2rem;
    margin:3rem 1rem;
    border-radius:10px;
}
.b2 h4,
.b2 p,
.b2 button {
    margin-left:1rem; 
  
}
.b2 button{
    width:45%;
    height: 35px;;
    color:black;
    font-size:1rem;
    font-weight: 700;
    border-radius:15rem;
}
.b2 p{
    font-weight: 400;
       
}
.ads{
    font-size:0.7rem;
    word-spacing:1.5rem;
    padding-left:1rem;
    color:rgb(113, 112, 112);
}
.ads p{
    line-height:1.5rem;
}
#ck{
    color: white;
    font-size:0.9rem;
    text-decoration:none;
}
.ads button{
    height:1rem;
    width: 67px;
}
#btn{
    display:flex;
    height:1.3sem;
    width:6rem;
    background-color:black;
    font-size:0.8rem;
    font-weight: 600;
    justify-content:center;
    padding:0.3rem 0rem;
    border-radius:15rem;
    color:white;
    margin-top:1.7rem;

}
#ck:hover{
    text-decoration:underline;
}
#btn:hover{
    border:1px solid white;
    transform:scale(1.05);
}
#gl{
    margin-right:0.5rem;
}
.main-right{
    background-color:#121212;
    width:74.5%;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width:none;
}
.music-section h3{
    font-size:1.8rem;
    font: weight 600px;
    color:white;
    margin:0rem 0 1rem 0;

}

.cards img{
    width:10rem;
    height:10rem;
    object-fit:cover;
    object-position:center;
    border-radius:5px;
}
.cards{
    padding:1rem;
    background-color:#121212;
    width:10rem;
    transition:0.2;
    border-radius:5px;
    margin-right:0.5rem;
    position: relative;
}
.cards:hover{
    background-color:#222;
}
.music-section{
    margin:2rem 0 2rem 2rem;
}
.songs{
    display:flex;
    overflow-x: auto;
    scrollbar-width:none;
}
.title{
    font-size:1.2rem;
    color: white;
    margin:0.5rem 0 0.5rem 0;
}
.discription{
    font-size:0.9rem;
    color:rgb(199,199,199);
}
.play-button{
    background-color:black;
    color:green;
    font-size:2.7rem;
    width:2.7rem;
    height:2.7rem;
    border-radius:50%;
    display:flex;
    position:absolute;
    transform:translate(110px,-40px);
    opacity:0;
    transition:0.5s;
}
.cards:hover .play-button{
    transform:translate(110px,-50px);
    opacity:1;
}
.signup-bar{
    background: linear-gradient(to right, #ff4f9c, #a84fdc, #3b6eea);
    height:3.5rem;
    margin:0.5rem 0 0.5rem 0.5rem;
    border-radius:3px;
            

}












